<div class="pf1alt chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if tokenUuid}}data-token-uuid="{{tokenUuid}}"{{/if}}>
  {{~> "systems/pf1/templates/chat/parts/attack-roll-header.hbs"}}

  {{#if targets}}
  {{> "systems/pf1/templates/chat/parts/attack-roll-targets.hbs"}}
  {{/if}}

  {{#each attacks as |atk|}}
  <div class="chat-attack">

    {{#if atk.hasAttack}}
    <div class="flexrow attack-row">
      <h1 class="attack-flavor">
        {{atk.attack.flavor}}
        {{#if atk.rollData.d20}}
        <i class="fas fa-dice-d20" title="{{localize "PF1.CustomRollDesc"}}"></i>
        {{/if}}
      </h1>
      {{#if atk.attack.nat20}}
        <span class="nat20-text">20!</span>
      {{/if}}
      <a class="inline-roll inline-dsn-hidden inline-result{{#if atk.attack.nat20}} nat20{{/if}}{{#if atk.attack.isCrit}}{{#unless atk.attack.nat20}} success{{/unless}}{{/if}}{{#if atk.attack.isFumble}} failure{{/if}}"
         title="{{atk.attack.formula}}" data-roll="{{json-string atk.attack.roll}}">
        <i class="fas fa-dice-d20"></i> {{atk.attack.total}}
      </a>
    </div>

    {{#if atk.hasCritConfirm}}
    <div class="flexrow crit-confirm">
      <h2>{{atk.critConfirm.flavor}}</h2>
      <a class="inline-roll inline-dsn-hidden inline-result"
         title="{{atk.critConfirm.formula}}" data-roll="{{json-string atk.critConfirm.roll}}"}}>
        <i class="fas fa-dice-d20"></i> {{atk.critConfirm.total}}
      </a>
    </div>

    {{/if}}{{/if}}

    {{#if atk.hasDamage}}
    <div class="flexrow damage-row">
      <h2>{{atk.damage.flavor}}</h2>
      {{#if atk.hasCards}}
        <div class="card-buttons flexrow">
        {{#each atk.cards.damage.items as |item|}}
          <button data-action="{{item.action}}" data-value="{{item.value}}" data-tags="{{item.tags}}">{{item.label}}</a>
        {{/each}}
        </div>
      {{/if}}
      <a class="fake-inline-roll inline-result" title="{{localize "PF1.Total"}}">
        {{atk.damage.total}}
      </a>
    </div>

    {{#each atk.damage.parts as |part|}}
    <div class="flexrow damage-part">
      <span>{{> "modules/pf1-alt-sheet/templates/chat/damage-type.hbs" data=part.damageType damageTypes=@root.damageTypes}}</span>
      <a class="inline-roll inline-dsn-hidden inline-result" title="{{part.roll.formula}}" data-roll="{{json-string part.roll}}">
        <i class="fas fa-dice-d20"></i> {{part.roll.total}}
      </a>
    </div>
    {{/each}}

    {{#if atk.hasCritConfirm}}
    <div class="flexrow damage-row crit">
      <h2>{{atk.critDamage.flavor}}</h2>
      {{#if atk.hasCards}}
        <div class="card-buttons flexrow">
        {{#each atk.cards.critical.items as |item|}}
          <button data-action="{{item.action}}" data-value="{{item.value}}" data-tags="{{item.tags}}">{{item.label}}</a>
        {{/each}}
        </div>
      {{/if}}
      <a class="fake-inline-roll inline-result" title="{{localize "PF1.Total"}}">
        {{atk.critDamage.total}}
      </a>
    </div>
    {{/if}}

    {{#each atk.critDamage.parts as |part|}}
    <div class="flexrow damage-part crit">
      <span>{{> "modules/pf1-alt-sheet/templates/chat/damage-type.hbs" data=part.damageType damageTypes=@root.damageTypes}}</span>
      <a class="inline-roll inline-dsn-hidden inline-result" title="{{part.roll.formula}}" data-roll="{{json-string part.roll}}">
        <i class="fas fa-dice-d20"></i> {{part.roll.total}}
      </a>
    </div>
    {{/each}}

    {{/if}}

    {{#if ../hasSave}}
    <hr />
    <div class="flexcol card-buttons save">
      <button data-action="save" data-dc="{{../save.dc}}" data-type="{{../save.type}}" data-tags="{{../save.tags}}">{{../save.label}}</button>
    </div>
    {{/if}}

    {{{atk.effectNotesHTML}}}
  </div>
  {{/each}}

  {{~> "systems/pf1/templates/chat/parts/attack-roll-footer.hbs"}}
</div>
