<div class="attributes-body" style="overflow-y: scroll;">
  <div class="flexrow">
    <h2 class="block-header" style="flex: 1">{{localize "PF1AS.AbilityScores"}}</h2>
    <button type="button" class="btn point-buy point-buy-button blue-button pointbuy-calculator">{{localize "PF1AS.PointBuy"}}</button>
  </div>
  {{!-- Ability Scores --}}
  <ul class="ability-scores flexrow">
    {{#each data.abilities as |ability id|}}
    <li class="ability" data-ability="{{id}}">
      <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
      <span class="ability-score tooltip">
        {{ability.totalLabel}}
        <span class="tooltipcontent">
            @abilities.{{id}}.total : {{ability.total}}<br/>
            @abilities.{{id}}.value : {{ability.value}}<br/>
            @abilities.{{id}}.mod : {{ability.mod}}<br/>
            @abilities.{{id}}.damage : {{ability.damage}}<br/>
            @abilities.{{id}}.drain : {{ability.drain}}<br/>
            @abilities.{{id}}.penalty : {{ability.penalty}}

            {{#if ability.sourceDetails.length}}
              <br/><br/>{{localize "PF1.FromSources"}}:<br/>
              {{#each ability.sourceDetails as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
            {{/if}}
        </span>
      </span>
      <div class="ability-modifiers flexrow">
        <span class="ability-mod {{#if (abilityDamaged this)}}ability-damaged{{/if}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
        <div class="ability-center"></div>
        <span class="text-box direct ability-base" name="data.abilities.{{id}}.value" data-dtype="String">{{ability.value}}</span>
      </div>
      <div class="ability-footer flexcol">
        <div class="flexrow">
          <input class="ability-damage" name="data.abilities.{{id}}.damage" type="text" title="{{localize "PF1.Damage"}}" value="{{ability.damage}}" data-dtype="Number" />
          <input class="ability-penalty" name="data.abilities.{{id}}.userPenalty" type="text" title="{{localize "PF1.Penalty"}}" value="{{ability.userPenalty}}" data-dtype="Number" />
          <input class="ability-drain" name="data.abilities.{{id}}.drain" type="text" title="{{localize " PF1.Drain"}}" value="{{ability.drain}}" data-dtype="Number" />
        </div>
        <!-- with foundry 0.8.x, null should be correct again in rolldata so we can move the labels back as placeholder="" in the input -->
        <div class="ability-damages flexrow">
          <span>{{localize "PF1.DMG"}}</span>
          <span>{{localize "PF1.PNL"}}</span>
          <span>{{localize "PF1.DRN"}}</span>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
  <h2 class="block-header">{{localize "PF1AS.SpeedAndMovement"}}</h2>
  <ul class="attributes misc-base flexrow">
    <li class="attribute speed flexrow">
      <div class="attribute-speed tooltip">
        <h4 class="attribute-name box-title">{{ localize "PF1.SpeedLand" }}</h4>
        <div class="attribute-value">
          <div class="attribute">
            {{#if data.attributes.speed.land.total}}
              {{convertDistance data.attributes.speed.land.total}} {{#if (isMetric)}}m{{else}}ft{{/if}}
            {{/if}}
          </div>
        </div>
        <div class="tooltipcontent">
          @attributes.speed.land.total : {{data.attributes.speed.land.total}}

          {{#if (or sourceDetails.data.attributes.speed.land.base.length sourceDetails.data.attributes.speed.land.add.length)}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each sourceDetails.data.attributes.speed.land.base as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
            {{#each sourceDetails.data.attributes.speed.land.add as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
          {{/if}}
          {{#if (isMetric)}}
            <br />
            {{{replaceNewLines (localize "PF1AS.MetricSpeeds")}}}
          {{/if}}
        </div>
        <footer class="attribute-footer">
          <input style="width: 80%;" name="data.attributes.speed.land.base" type="text" value="{{data.attributes.speed.land.base}}" data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
          <span>ft.</span>
        </footer>
      </div>
    </li>
    <li class="attribute speed flexrow">
      <div class="attribute-speed tooltip">
          <h4 class="attribute-name box-title">{{ localize "PF1.SpeedClimb" }}</h4>
          <div class="attribute-value">
            <div class="attribute">
              {{#if data.attributes.speed.climb.total}}
                {{convertDistance data.attributes.speed.climb.total}} {{#if (isMetric)}}m{{else}}ft{{/if}}
              {{/if}}
            </div>
          </div>
          <div class="tooltipcontent">
            @attributes.speed.climb.total : {{data.attributes.speed.climb.total}}
            {{#if (or sourceDetails.data.attributes.speed.climb.base.length sourceDetails.data.attributes.speed.climb.add.length)}}
              <br/><br/>{{localize "PF1.FromSources"}}:<br/>
              {{#each sourceDetails.data.attributes.speed.climb.base as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
              {{#each sourceDetails.data.attributes.speed.climb.add as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
            {{/if}}
            {{#if (isMetric)}}
              <br />
              {{{replaceNewLines (localize "PF1AS.MetricSpeeds")}}}
            {{/if}}
          </div>
          <footer class="attribute-footer">
            <input style="width: 80%;" name="data.attributes.speed.climb.base" type="text" value="{{data.attributes.speed.climb.base}}" data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
            <span>ft.</span>
          </footer>
      </div>
    </li>
    <li class="attribute speed flexrow">
      <div class="attribute-speed tooltip">
        <h4 class="attribute-name box-title">{{ localize "PF1.SpeedSwim" }}</h4>
        <div class="attribute-value">
          <div class="attribute">
            {{#if data.attributes.speed.swim.total}}
              {{convertDistance data.attributes.speed.swim.total}} {{#if (isMetric)}}m{{else}}ft{{/if}}
            {{/if}}
          </div>
        </div>
        <div class="tooltipcontent">
          @attributes.speed.swim.total : {{data.attributes.speed.swim.total}}
          {{#if (or sourceDetails.data.attributes.swim.land.base.length sourceDetails.data.attributes.swim.land.add.length)}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each sourceDetails.data.attributes.speed.swim.base as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
            {{#each sourceDetails.data.attributes.speed.swim.add as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
          {{/if}}
          {{#if (isMetric)}}
            <br />
            {{{replaceNewLines (localize "PF1AS.MetricSpeeds")}}}
          {{/if}}
        </div>
        <footer class="attribute-footer">
          <input style="width: 80%;" name="data.attributes.speed.swim.base" type="text" value="{{data.attributes.speed.swim.base}}" data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
          <span>ft.</span>
        </footer>
      </div>
    </li>
    <li class="attribute speed flexrow">
      <div class="attribute-speed tooltip">
        <h4 class="attribute-name box-title">{{ localize "PF1.SpeedBurrow" }}</h4>
        <div class="attribute-value">
          <div class="attribute">
            {{#if data.attributes.speed.burrow.total}}
              {{convertDistance data.attributes.speed.burrow.total}} {{#if (isMetric)}}m{{else}}ft{{/if}}
            {{/if}}
          </div>
        </div>
        <div class="tooltipcontent">
          @attributes.speed.burrow.total : {{data.attributes.speed.burrow.total}}
          {{#if (or sourceDetails.data.attributes.speed.burrow.base.length sourceDetails.data.attributes.speed.burrow.add.length)}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each sourceDetails.data.attributes.speed.burrow.base as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
            {{#each sourceDetails.data.attributes.speed.burrow.add as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
          {{/if}}
          {{#if (isMetric)}}
            <br />
            {{{replaceNewLines (localize "PF1AS.MetricSpeeds")}}}
          {{/if}}
        </div>
        <footer class="attribute-footer">
          <input style="width: 80%;" name="data.attributes.speed.burrow.base" type="text" value="{{data.attributes.speed.burrow.base}}" data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
          <span>ft.</span>
        </footer>
      </div>
    </li>
    <li class="attribute speed flexrow">
      <div class="attribute-speed tooltip">
        <h4 class="attribute-name box-title">{{ localize "PF1.SpeedFly" }}</h4>
        <div class="attribute-value">
            <div class="attribute">
              {{#if data.attributes.speed.fly.total}}
                {{convertDistance data.attributes.speed.fly.total}} {{#if (isMetric)}}m{{else}}ft{{/if}}
              {{/if}}
            </div>
        </div>
        <div class="tooltipcontent">
          @attributes.speed.fly.total : {{data.attributes.speed.fly.total}}<br/>
          @attributes.speed.fly.maneuverability : "{{data.attributes.speed.fly.maneuverability}}"
          {{#if (or sourceDetails.data.attributes.speed.fly.base.length sourceDetails.data.attributes.speed.fly.add.length)}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each sourceDetails.data.attributes.speed.fly.base as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
            {{#each sourceDetails.data.attributes.speed.fly.add as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
          {{/if}}
          {{#if (isMetric)}}
            <br />
            {{{replaceNewLines (localize "PF1AS.MetricSpeeds")}}}
          {{/if}}
        </div>
        <footer class="attribute-footer">
            <input style="width: 80%;" name="data.attributes.speed.fly.base" type="text" value="{{data.attributes.speed.fly.base}}" data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
            <span>ft.</span>
        </footer>
      </div>
    </li>
    <li class="attribute speed flexrow">
      <div class="attribute-speed">
        <h4 class="attribute-name box-title">{{ localize "PF1.FlyManeuverabilityShort" }}</h4>
        <div class="attribute-value">
          <div class="attribute">

          </div>
        </div>
        <footer class="attribute-footer">
          <select name="data.attributes.speed.fly.maneuverability">
            {{#select data.attributes.speed.fly.maneuverability}}
              {{#each config.flyManeuverabilities as |name type|}}
                <option value="{{type}}">{{name}}</option>
              {{/each}}
            {{/select}}
          </select>
        </footer>
      </div>
    </li>
  </ul>
  <h2 class="block-header" style="flex: 1">{{localize "PF1AS.SpecialQualities"}}</h2>
  <ul class="attributes misc-base flexrow">
    <li class="attribute size high" data-attribute="size">
      <h4 class="attribute-name box-title">{{localize "PF1.Size"}}</h4>
      <div class="attribute-value">
        <select class="actor-size" name="data.traits.size" style="width: 90%">
          {{#select data.traits.size}}
            {{#each config.actorSizes as |label size|}}
              <option value="{{size}}">{{label}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>
      <div class="attribute-footer">
        <select class="actor-stature" name="data.traits.stature">
          {{#select data.traits.stature}}
            {{#each config.actorStatures as |label key|}}
              <option value="{{key}}">{{label}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>
    </li>
    <li class="attribute nac high tooltip" data-attribute="nac">
      <h4 class="attribute-name box-title">{{localize "PF1AS.NatAC"}}</h4>
      <div class="attribute-value">
        <div class="attribute">{{!--{{data.attributes.naturalACtotal}}--}}</div>
      </div>
      <div class="attribute-footer">
        <input name="data.attributes.naturalAC" type="text" placeholder="{{localize "PF1.Formula"}}" value="{{#if data.attributes.naturalAC}}{{data.attributes.naturalAC}}{{/if}}"/>
      </div>
    </li>
    <li class="attribute sr high tooltip" data-attribute="sr">
      <div class="tooltipcontent">
        @attributes.sr.total : {{data.attributes.sr.total}}
      </div>
      <h4 class="attribute-name box-title">{{localize "PF1AS.SpellRes"}} <a class="note-editor small" for="data.attributes.srNotes" title="{{localize "PF1.SpellResistanceNotes"}}"><i class="fas fa-edit"></i></a></h4>
      <div class="attribute-value">
        <div class="attribute">{{data.attributes.sr.total}}</div>
      </div>
      <footer class="attribute-footer">
        <input name="data.attributes.sr.formula" type="text" placeholder="{{localize "PF1.Formula"}}" value="{{#if data.attributes.sr.formula}}{{data.attributes.sr.formula}}{{/if}}"/>
      </footer>
    </li>

    <li class="attribute fh high tooltip" data-attribute="fh">
      <h4 class="attribute-name box-title">{{localize "PF1.FastHealing"}}</h4>
      <div class="attribute-value">
        <div class="attribute">{{!--{{data.attributes.naturalACtotal}}--}}</div>
      </div>
      <div class="attribute-footer">
        <input name="data.traits.fastHealing" type="text" placeholder="0" value="{{data.traits.fastHealing}}"/>
      </div>
    </li>

    <li class="attribute reg high tooltip" data-attribute="rerg">
      <h4 class="attribute-name box-title">{{localize "PF1.Regeneration"}}</h4>
      <div class="attribute-value">
        <div class="attribute">{{!--{{data.attributes.naturalACtotal}}--}}</div>
      </div>
      <div class="attribute-footer">
        <input name="data.traits.regen" type="text" placeholder="0" value="{{data.traits.regen}}"/>
      </div>
    </li>

    <li class="attribute reg high tooltip" data-attribute="rerg">
      <h4 class="attribute-name box-title">{{localize "PF1.LevelDrain"}}</h4>
      <div class="attribute-value">
        <span>{{#if (isPositive data.attributes.energyDrain)}}{{data.attributes.energyDrain}}{{else}}0{{/if}} {{localize "PF1AS.Levels"}}</span>
      </div>
      <div class="attribute-footer">
        <input class="select-on-click" type="text" name="data.attributes.energyDrain" value="{{data.attributes.energyDrain}}" placeholder="0" data-dtype="Number" />
      </div>
    </li>
  </ul>
  <ul class="attributes misc-base flexrow">
    <li class="attribute acp tooltip" data-attribute="acp">
      <h4 class="attribute-name box-title">{{localize "PF1.ACP"}}</h4>
      <div class="attribute-value">
        <div class="attribute">{{data.attributes.acp.total}}</div>
      </div>
      <span class="tooltipcontent">
        @attributes.acp.total : {{data.attributes.acp.total}}
        {{#if sourceDetails.data.attributes.acp.total.length}}
          <br/><br/>{{localize "PF1.FromSources"}}:<br/>
        {{#each sourceDetails.data.attributes.acp.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
        {{/if}}
      </span>
    </li>
    <li class="attribute dr double">
      <h4 class="attribute-name box-title">{{localize "PF1.DamRed"}}</h4>
      <div class="attribute-value">
        <input type="text" name="data.traits.dr" value="{{data.traits.dr}}" placeholder="{{localize "PF1.None"}}"/>
      </div>
      <div class="attribute-footer flexrow">
        <div class="tooltip">
          <label for="data.traits.di" style="margin-right: 7px">{{localize "PF1.DamImm"}}</label>
          <a class="trait-selector" data-options="damageTypes"><i class="fas fa-edit"></i></a>
          <div class="tooltipcontent">
            <ul class="traits-list">
              {{#each data.traits.di.selected as |v k|}}
                <li class="tag {{k}}">{{v}}</li>
              {{else}}
                {{localize "PF1.None"}}
              {{/each}}
            </ul>
          </div>
        </div>
        <div class="tooltip">
          <label for="data.traits.dv" style="margin-right: 7px">{{localize "PF1.DamVuln"}}</label>
          <a class="trait-selector" data-options="damageTypes"><i class="fas fa-edit"></i></a>
          <div class="tooltipcontent">
            <ul class="traits-list">
              {{#each data.traits.dv.selected as |v k|}}
                <li class="tag {{k}}">{{v}}</li>
              {{else}}
                {{localize "PF1.None"}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="attribute eres double">
      <h4 class="attribute-name box-title">{{localize "PF1.EnRes"}}</h4>
      <div class="attribute-value">
        <input type="text" name="data.traits.eres" value="{{data.traits.eres}}" placeholder="{{localize "PF1.None"}}"/>
      </div>
    </li>
  </ul>

  <ul class="attributes misc-base flexrow">
    <li class="attribute maxdex tooltip" data-attribute="maxdex">
      <h4 class="attribute-name box-title">{{localize "PF1.MaxDexShort"}}</h4>
      <div class="attribute-value">
        <span>{{#if data.attributes.maxDexBonus}}{{data.attributes.maxDexBonus}}{{else}}∞{{/if}}</span>
      </div>
      <span class="tooltipcontent">
        @attributes.maxDexBonus : {{data.attributes.maxDexBonus}}
        {{#if sourceDetails.data.attributes.maxDexBonus.length}}
          <br/><br/>{{localize "PF1.FromSources"}}:<br/>
        {{#each sourceDetails.data.attributes.maxDexBonus as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
        {{/if}}
      </span>
    </li>
    <li class="attribute cres double">
      <h4 class="attribute-name box-title">{{localize "PF1.ConRes"}}</h4>
      <div class="attribute-value">
        <input type="text" name="data.traits.cres" value="{{data.traits.cres}}" placeholder="{{localize "PF1.None"}}"/>
      </div>
      <div class="attribute-footer flexrow">
        <div class="tooltip">
          <label for="data.traits.ci" style="margin-right: 7px">{{localize "PF1.ConImm"}}</label>
          <a class="trait-selector" data-options="conditionTypes"><i class="fas fa-edit"></i></a>
          <div class="tooltipcontent">
            <ul class="traits-list">
              {{#each data.traits.ci.selected as |v k|}}
                <li class="tag {{k}}">{{v}}</li>
              {{else}}
                {{localize "PF1.None"}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="attribute senses double">
      <h4 class="attribute-name box-title"><label for="data.traits.senses">{{localize "PF1.Senses"}}</label> <a class="senses-selector small"><i class="fas fa-edit"></i></a></h4>
      <div class="attribute-value">
        {{#each senses as |v k|}}
          <span class="tag {{k}}">{{v}}</span>
        {{/each}}
      </div>
    </li>
  </ul>

  <ul class="attributes misc-base flexrow">
    <li class="attribute languages higher" data-attribute="languages">
      <h4 class="attribute-name box-title"><label for="data.traits.languages">{{localize "PF1.Languages"}}</label> <a class="trait-selector small" data-options="languages"><i class="fas fa-edit"></i></a></h4>
      <div class="attribute-value scroll high">
        {{#each data.traits.languages.selected as |v k|}}
          <span class="tag {{k}}">{{v}}</span>
        {{/each}}
      </div>
    </li>
    {{#if isCharacter}}
      <li class="attribute weaponprofs higher">
        <h4 class="attribute-name box-title"><label for="data.traits.weaponProf">{{localize "PF1.TraitWeaponProf"}}</label> <a class="trait-selector small" data-options="weaponProficiencies"><i class="fas fa-edit"></i></a></h4>
        <div class="attribute-value scroll high">
          {{#each data.traits.weaponProf.selected as |v k|}}
            <span class="tag {{k}}">{{v}}</span>
          {{/each}}
        </div>
      </li>
      <li class="attribute armorprofs higher">
        <h4 class="attribute-name box-title"><label for="data.traits.armorProf">{{localize "PF1.TraitArmorProf"}}</label> <a class="trait-selector small" data-options="armorProficiencies"><i class="fas fa-edit"></i></a></h4>
        <div class="attribute-value scroll high">
          {{#each data.traits.armorProf.selected as |v k|}}
            <span class="tag {{k}}">{{v}}</span>
          {{/each}}
        </div>
      </li>
    {{/if}}
  </ul>
  <div class="flexrow" style="height: 10px;"></div>
</div>
