<div class="flexrow">
  {{!-- Ability Scores --}}
  <div class="flexcol" style="flex: 0 420px">
    <div class="flexrow">
      <div class="ability-scores-simple flexcol">
        <h4 class="ability-box-name">
          {{ localize "PF1AS.Abilities" }}
        </h4>
        {{#each data.abilities as |ability id|}}
          <div class="ability-simple flexrow ability" data-ability="{{id}}">
            <h4 class="ability-name rollable">{{ability.labelShort}}</h4>
            <div class="flexrow">
              <span class="ability-score tooltip">
                <h4 class="ability-value-text">{{ability.totalLabel}}</h4>
                <span class="tooltipcontent">
                  @abilities.{{id}}.total : {{ability.total}}<br/>
                  @abilities.{{id}}.value : {{ability.value}}<br/>
                  @abilities.{{id}}.mod : {{ability.mod}}<br/>
                  @abilities.{{id}}.damage : {{ability.damage}}<br/>
                  @abilities.{{id}}.drain : {{ability.drain}}<br/>
                  @abilities.{{id}}.penalty : {{ability.penalty}}
                  {{#if ability.sourceDetails.length}}

                    <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                    {{#each ability.sourceDetails as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                  {{/if}}
                </span>
              </span>
              <h4 class="ability-mod-text {{#if (abilityDamaged this)}}ability-damaged{{/if}}">{{numberFormat ability.mod decimals=0 sign=true}}</h4>
            </div>
          </div>
        {{/each}}
      </div>
      <ul class="attributes nomargin">
        <li>
          <button type="button" class="rest"><i class="fas fa-bed"></i> {{localize "PF1.Rest"}}</button>
        </li>
        <li class="attribute health">
          {{#if healthConfig.variants.pc.useWoundsAndVigor}}
            <h4 class="attribute-name box-title tooltip">
              {{ localize "PF1.Vigor" }}
              <div class="tooltipcontent">
                @attributes.vigor.min : {{data.attributes.vigor.min}}<br/>
                @attributes.vigor.value : {{data.attributes.vigor.value}}<br/>
                @attributes.vigor.max : {{data.attributes.vigor.max}}<br/>
                @attributes.vigor.temp : {{data.attributes.vigor.temp}}

                {{#if sourceDetails.data.attributes.vigor.max.length}}
                  <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                  {{#each sourceDetails.data.attributes.vigor.max as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                {{/if}}
              </div>
            </h4>
            <div class="attribute-value multiple">
              <input name="data.attributes.vigor.value" type="text" value="{{data.attributes.vigor.value}}" data-dtype="Number" placeholder="0"/>
              <span class="sep"> / </span>
              <div class="attribute">{{data.attributes.vigor.max}}</div>
            </div>
            <footer class="attribute-footer">
              <input name="data.attributes.vigor.temp" type="text" class="temphp" placeholder="{{localize 'PF1.Temporary'}}" value="{{#if data.attributes.vigor.temp}}{{data.attributes.vigor.temp}}{{/if}}" data-dtype="Number"/>
            </footer>
        </li>
        <li class="attribute health">
            <h4 class="attribute-name box-title tooltip">
              {{ localize "PF1.Wounds" }}
              <div class="tooltipcontent">
                @attributes.wounds.min : {{data.attributes.wounds.min}}<br/>
                @attributes.wounds.value : {{data.attributes.wounds.value}}<br/>
                @attributes.wounds.max : {{data.attributes.wounds.max}}<br/>

                {{#if sourceDetails.data.attributes.wounds.max.length}}
                  <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                  {{#each sourceDetails.data.attributes.wounds.max as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                {{/if}}
              </div>
            </h4>
            <div class="attribute-value multiple">
              <input name="data.attributes.wounds.value" type="text" value="{{data.attributes.wounds.value}}" data-dtype="Number" placeholder="0"/>
              <span class="sep"> / </span>
              <div class="attribute">{{data.attributes.wounds.max}}</div>
            </div>
          {{else}}
            <h4 class="attribute-name box-title tooltip high">
              {{ localize "PF1.Health" }}
              <div class="tooltipcontent">
                @attributes.hp.value : {{data.attributes.hp.value}}<br/>
                @attributes.hp.max : {{data.attributes.hp.max}}<br/>
                @attributes.hp.temp : {{data.attributes.hp.temp}}<br/>
                @attributes.hp.nonlethal : {{data.attributes.hp.nonlethal}}

                {{#if sourceDetails.data.attributes.hp.max.length}}
                  <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                  {{#each sourceDetails.data.attributes.hp.max as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                {{/if}}
              </div>
            </h4>
            <div class="attribute-value multiple">
              <span class="text-box direct allow-relative hp-current-input" name="data.attributes.hp.value" data-dtype="Number">{{data.attributes.hp.value}}</span>
              <span class="sep"> / </span>
              <div class="attribute">{{data.attributes.hp.max}}</div>
            </div>
            <footer class="attribute-footer multiple">
              <span class="text-box direct allow-relative hp-temp-input" name="data.attributes.hp.temp" data-dtype="Number">{{#if data.attributes.hp.temp}}{{data.attributes.hp.temp}}{{else}}{{localize "PF1.TempShort"}}{{/if}}</span>
              <span class="text-box direct allow-relative hp-nonlethal-input" name="data.attributes.hp.nonlethal" data-dtype="Number">{{#if data.attributes.hp.nonlethal}}{{data.attributes.hp.nonlethal}}{{else}}{{localize "PF1.Nonlethal"}}{{/if}}</span>
            </footer>
          {{/if}}
        </li>

        <li>
          <ul class="attributes armor-class  flexrow">
            <li class="attribute initiative" style="height: 50px" data-attribute="init">
              <h4 class="attribute-name box-title rollable">{{localize "PF1.Initiative"}}</h4>
              <div class="attribute-value tooltip">
                <span>{{data.attributes.init.total}}</span>
                <span class="tooltipcontent">
                  @attributes.init.total : {{data.attributes.init.total}}

                  {{#if sourceDetails.data.attributes.init.total.length}}
                    <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                    {{#each sourceDetails.data.attributes.init.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                  {{/if}}
                </span>
              </div>
            </li>
            <li class="attribute bab" style="height: 50px" data-attribute="bab">
              <h4 class="attribute-name box-title rollable">{{localize "PF1.BABAbbr"}}</h4>
              <div class="attribute-value tooltip">
                <span>{{data.attributes.bab.total}}</span>
                <span class="tooltipcontent">
                  @attributes.bab.total : {{data.attributes.bab.total}}

                  {{#if sourceDetails.data.attributes.bab.total.length}}
                    <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                    {{#each sourceDetails.data.attributes.bab.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                  {{/if}}
                </span>
              </div>
            </li>
          </ul>
        </li>

        <li>
          <ul class="attributes armor-class flexrow">
            {{#each data.attributes.ac as |ac id|}}
              <li class="attribute armor-class ac-details tooltip" data-armorclass="{{id}}">
                <div class="tooltipcontent">
                  @attributes.ac.{{id}}.total : {{ac.total}}

                  {{#if ac.sourceDetails.length}}
                    <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                    {{#each ac.sourceDetails as |src|}}
                      {{src.name}}: {{src.value}}<br/>
                    {{/each}}
                  {{/if}}
                </div>
                <h4 class="attribute-name box-title">{{localize ac.labelShort}}</h4>
                <div class="attribute-value">
                  <span>{{numberFormat ac.total decimals=0 sign=false}}</span>
                </div>
              </li>
            {{/each}}
          </ul>
        </li>

        <li>
          <ul class="attributes saving-throws flexrow">
            {{#each data.attributes.savingThrows as |savingThrow id|}}
              <li class="attribute saving-throw st-details tooltip" data-savingthrow="{{id}}">
                <div class="tooltipcontent">
                  @attributes.savingThrows.{{id}}.total : {{savingThrow.total}}

                  {{#if savingThrow.sourceDetails.length}}
                    <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                    {{#each savingThrow.sourceDetails as |src|}}
                      {{src.name}}: {{src.value}}<br/>
                    {{/each}}
                  {{/if}}
                </div>
                <h4 class="attribute-name box-title rollable">{{savingThrow.label}}</h4>
                <div class="attribute-value">
                  <span>{{savingThrow.total}}</span>
                </div>
              </li>
            {{/each}}
          </ul>
        </li>
      </ul>
    </div>
    <div class="details-attack-simple  inventory-group flexcol" data-group="attacks">
      <h4 class="box-name">{{ localize "PF1.QuickActions" }}</h4>
      <ol class="inventory-list borderless sub-scroll scroll-attacks" style="max-width: 420px">
        <li class="inventory-header flexrow">
          <h3 class="item-name flexrow"></h3>
          <div class="item-detail item-actions"><i class="icon icon-gears large" title="{{localize "PF1.ActionPlural"}}"></i></div>
          <div class="item-detail item-uses"><i class="icon icon-battery-pack large" title="{{localize "PF1.ChargePlural"}}"></i></div>
        </li>
        <ol class="item-list">
          {{#each quickActions as |i|}}
            <li class="item flexrow" data-item-id="{{i.item.id}}">
              <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('{{i.item.img}}')"></div>
                <h4>
                  {{i.item.name~}}
                </h4>
              </div>

              <div class="item-detail item-actions">
                <div class="item-attack">
                  <a class="item-control item-attack"><img class="icon" src="systems/pf1/icons/actions/gladius.svg"></a>
                </div>
              </div>

              <div class="item-detail item-uses flexrow {{#if i.haveAnyCharges }}tooltip{{/if}}">
                {{#if i.haveAnyCharges }}
                  <span class="text-box value" data-wheel-step="1" data-dtype="Number">{{i.charges}}</span>
                  <span class="sep"> / {{i.maxCharge}}</span>
                  <span class="tooltipcontent">
                    @resources.{{i.item.data.data.tag}}.value : {{i.item.data.data.uses.value}}<br>
                    @resources.{{i.item.data.data.tag}}.max : {{i.item.data.data.uses.max}}
                  </span>
                {{/if}}
              </div>
            </li>
          {{/each}}
        </ol>
      </ol>
    </div>
  </div>

  <div class="flexcol details-skills-list" data-group="skillsets">
    <h4 class="box-name box-title">
      {{ localize "PF1.Skills" }}
    </h4>
    <ul class="noborder skills-list sub-scroll scroll-skillset" data-background="{{isBackgroundSkills}}">
      {{#each skillsets.known.skills as |skill s|}}
        {{#if skill.arbitrary}}
          {{#each skill.subSkills as |subSkill b|}}
            {{#if (subskillShownInSummary ../.. s b)}}
            <li class="sub-skill flexrow">
              <div class="skill-name tooltip" data-skill="{{b}}" data-main-skill="{{s}}">
                <span class="tooltipcontent">
                  @skills.{{s}}.subSkills.{{b}}.mod : {{subSkill.mod}}<br>
                  @skills.{{s}}.subSkills.{{b}}.rank : {{subSkill.rank}}<br>

                  {{#if subSkill.sourceDetails.length}}
                    <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                    {{#each subSkill.sourceDetails as |src|}}
                      {{src.name}}: {{src.value}}<br/>
                    {{/each}}
                  {{/if}}
                </span>
                <div class="rollable image-d20"></div>
                <h4>{{skill.label}} ({{subSkill.name}})
                  {{#if skill.rt}}■{{/if}}
                  {{#if skill.cs}}*{{/if}}
                </h4>
              </div>
              <h4>{{numberFormat subSkill.mod decimals=0 sign=true}}</h4>
            </li>
            {{/if}}
          {{/each}}
        {{else}}
          <li class="skill flexrow">
            <div class="skill-name tooltip" data-skill="{{s}}">
              <span class="tooltipcontent">
                @skills.{{s}}.mod : {{skill.mod}}<br>
                @skills.{{s}}.rank : {{skill.rank}}<br>

                {{#if skill.sourceDetails.length}}
                  <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                  {{#each skill.sourceDetails as |src|}}
                    {{src.name}}: {{src.value}}<br/>
                  {{/each}}
                {{/if}}
              </span>
              <div class="rollable image-d20"></div>
              {{#if skill.custom}}
                <h4>{{skill.name}}
                  {{#if skill.rt}}■{{/if}}
                  {{#if skill.cs}}*{{/if}}
                </h4>
              {{else}}
                <h4>{{skill.label}}
                  {{#if skill.rt}}■{{/if}}
                  {{#if skill.cs}}*{{/if}}
                </h4>
              {{/if}}
            </div>

            <h4>{{numberFormat skill.mod decimals=0 sign=true}}</h4>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
  </div>
